<html>
<title>	Asmit Bhantana </title>
<head ><h1><i><p align="center">Welcome to my Personnel Profelio!</p></i></h1></head>
<br />
<body bgcolor="#7C4DFF">
<hr align="left" width="100%"/>
	
	<h3><p align="center" >Brief About Me!</p></h3>
	<hr align="left" width="100%"/>
	<br />
	<h4><p align="center" >I am Computer Engineering student. I love to code and make new things for benifit of people. I started to code since I was on Highschool. Since then I have learned many things about programming. I love to share my understanding although it's little with my friends and anyone interested as it give me some oppturnity to help me understand more. I first taught myself some Java and since then I have learnt following languages: </p></h4>
	<ol class="center">
		<li>C</li>
		<li>Java</li>
		<li>Python</li>
		<li>Ruby</li>
		<li>Fortan</li>
	</ol>
	<hr align="left" width="100%"/>
	<h2><p align="center" >Follow Me On Social:</p></h2>
	<ul class="center">
		<li><a href="https://www.facebook.com/asmit.bhantana.92?ref=bookmarks">Facebook</li>
		<li><a href="https://plus.google.com/106861500057064746629">Google+</li>
		<li><a href="https://twitter.com/bhantana_asmit">Twitter</li>
		<li><a href="https://www.youtube.com/channel/UCVDKIYoY6_fQnYKQrIMfL7g">Youtube</li>
		<li><a href="https://www.instagram.com/bhantanaasmit/">Instagram</li>
	</ul>
	
	</body>
<style type="text/css">
 .center { text-align: center; list-style-position:outside;}
</style>
<%= link_to 'Contact',contact_path %>
</html>